--------------------------------
-- #tableName# notes:
--------------------------------

CREATE TABLE "#schemaName#".#tableName#
(
  #pkeyCode#
  #columnsCode#
  #timeCode#
  PRIMARY KEY (#pkeyName#)
)
WITH (
  OIDS=FALSE
);